<div class="centered column">
  <div class="ui segment">
      {{#if instagram}}
        <h2 class="ui header">Instagram</h2>

        <p>ID: {{instagram.id}}</p>

        <p>Username: {{instagram.username}}</p>

        <p>Name:{{instagram.full_name}}</p>
      {{/if}}

      {{#if facebook}}
        <h2 class="ui header">Facebook</h2>

        <p>ID: {{facebook.id}}</p>

        <p>Name:{{facebook.name}}</p>
      {{/if}}

  </div>
</div>