<div class="ui column">
  <h2 class="ui header">Instagram Account Information</h2>

  <div class="ui segment">
    <div class="ui items">

      <div class="ui item">
        <div class="ui tiny circular image">
          <img src="{{user.profile_picture}}">
        </div>
        <div class="content">
          <div class="header">{{user.full_name}}</div>
          <div class="description">
            <p>{{user.bio}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="ui divider"></div>

    <h2 class="ui header">Photos</h2>
  <div class="ui three cards">
      {{#each photos}}
        <div class="card">
          <a class="image">
            <img src="{{url}}">
          </a>

          <div class="content">
            <div class="description">
                {{caption}}
            </div>
          </div>
        </div>
      {{/each}}
  </div>
</div>